.table-container {
  width: 100%;

  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse; //
    thead{
      font-size: 32px;
      th:nth-child(1) { width: 30%; } // Устройство
      th:nth-child(2) { width: 40%; } // Игра
      th:nth-child(3) { width: 15%; } // Группа
      th:nth-child(4) { width: 15%; } // Количество очков
    }
    tr {
      width: 100%;
    }

    td {
      height: 100px;
      vertical-align: middle;
      padding: 10px;
      border: 1px solid #ddd;
    }

    th {
      height: 60px; // Высота для заголовков
      vertical-align: middle;
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f5f5f5;
    }
  }
}